<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Main cib file base name</key>
	<string>MainMenu.cib</string>
	<key>CPBundleName</key>
	<string>Rodan</string>
	<key>CPBundleVersion</key>
	<string>1.0</string>
	<key>CPHumanReadableCopyright</key>
	<string>Copyright © 2014, Andrew Hankinson All rights reserved.</string>
	<key>ServerHost</key>
	<string>//132.206.14.121:8001</string>
	<key>AuthenticationType</key>
	<string>session</string>
	<key>AuthenticationToken</key>
	<string>33e55d20d227787b8ecd0506f99e194be16e875d</string>
	<key>Username</key>
	<string>ahankins</string>
	<key>Password</key>
	<string></string>
	<key>Debug</key>
	<true/>
	<key>RefreshRate</key>
	<integer>10</integer>
</dict>
</plist>
